# Forçar detecção das linguagens principais
*.java linguist-detectable=true
*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.ts linguist-detectable=true
*.tsx linguist-detectable=true

# Reduzir peso de arquivos de configuração Python
requirements.txt linguist-generated=true
